In [2]:
import glob
import json
import pandas as pd

In [3]:
help(glob)

Help on module glob:

NAME
    glob - Filename globbing utility.

MODULE REFERENCE
    https://docs.python.org/3.9/library/glob

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

FUNCTIONS
    escape(pathname)
        Escape all special characters.

    glob(pathname, *, recursive=False)
        Return a list of paths matching a pathname pattern.

        The pattern may contain simple shell-style wildcards a la
        fnmatch. However, unlike fnmatch, filenames starting with a
        dot are special cases that are not matched by '*' and '?'
        patterns.

        If recursive is true, the pattern '**' will match any files and
        zero or more directories and subdirectories.

    iglob(pathname, *, recursive=False)
        Return an iterator which yields the paths matching a pathname pattern.

        The pattern may contain simple shell-style wildcards a la
        fnmatch. However, unlike fnmatch, filenames starting with a
        dot are special cases that are not matched by '*' and '?'
        patterns.

        If recursive is true, the pattern '**' will match any files and
        zero or more directories and subdirectories.

DATA
    __all__ = ['glob', 'iglob', 'escape']

FILE
    c:\programdata\anaconda3\lib\glob.py

In [4]:
help(glob.glob)

Help on function glob in module glob:

glob(pathname, *, recursive=False)
    Return a list of paths matching a pathname pattern.

    The pattern may contain simple shell-style wildcards a la
    fnmatch. However, unlike fnmatch, filenames starting with a
    dot are special cases that are not matched by '*' and '?'
    patterns.

    If recursive is true, the pattern '**' will match any files and
    zero or more directories and subdirectories.

In [5]:
glob.glob('retail_db/**', recursive=True)

['retail_db\\',
 'retail_db\\categories',
 'retail_db\\categories\\part-00000',
 'retail_db\\create_db.sql',
 'retail_db\\create_db_tables_pg.sql',
 'retail_db\\customers',
 'retail_db\\customers\\part-00000',
 'retail_db\\departments',
 'retail_db\\departments\\part-00000',
 'retail_db\\load_db_tables_pg.sql',
 'retail_db\\orders',
 'retail_db\\orders\\part-00000',
 'retail_db\\order_items',
 'retail_db\\order_items\\part-00000',
 'retail_db\\products',
 'retail_db\\products\\part-00000',
 'retail_db\\README.md',
 'retail_db\\schemas.json']

In [6]:
def get_column_name(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [13]:
schemas = json.load(open('retail_db/schemas.json'))

In [20]:
order_columns = get_column_name(schemas, 'orders')

In [21]:
order_columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [24]:
orders = pd.read_csv('retail_db/orders/part-00000', names = order_columns)

In [25]:
orders

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]